@if (profile) {
<div class="profile-card">
  <div class="profile-card__avatar-block">
    <img
      class="profile-card__avatar"
      [src]="profile.avatarUrl | imgUrl"
      alt="Аватар"
    />
    <div class="profile-card__info">
      <p class="profile-card__name">
        {{ profile.firstName }} {{ profile.lastName }}
      </p>
      <p class="profile-card__username">{{ profile.username }}</p>
    </div>
  </div>
  <div class="profile-card__text">
    {{ profile.description }}
  </div>
  <div class="profile-card__tags">
    <div class="profile-card__tags-wrapper">
      @for (skill of profile.stack; track skill) {
      <div class="skill-tag">{{ skill }}</div>
      }
    </div>
  </div>
  <div class="profile-card__btn">
    <button class="btn">Подписаться</button>
  </div>
</div>
} @else {
<div>Oooops....</div>
}
