<img class="sidebar-logo" src="/assets/images/Logo-Tik-Talk.png" alt="" />
<nav>
  <ul class="sidebar-nav-list">
    <li class="sidebar-nav-list__item">
      <button class="nav-list__button">
        <svg class="nav-list-icon" icon="home"></svg>
        <span>Моя страница</span>
      </button>
    </li>
    <li class="sidebar-nav-list__item">
      <button class="nav-list__button">
        <svg class="nav-list-icon" icon="chat"></svg>
        <span> Чаты </span>
      </button>
    </li>
    <li class="sidebar-nav-list__item">
      <button class="nav-list__button">
        <svg class="nav-list-icon" icon="search"></svg>
        <span> Поиск </span>
      </button>
    </li>
  </ul>
</nav>
<div class="subscribers-block">
  <h5 class="subscribers-block__title">Подписчики</h5>
</div>
