<img class="sidebar-logo" src="/assets/images/Logo-Tik-Talk.png" alt="" />
<nav>
  <ul class="sidebar-nav-list">
    <li class="sidebar-nav-list__item">
      <button class="nav-list__button">
        <svg class="nav-list-icon" icon="home"></svg>
        <span>Моя страница</span>
      </button>
    </li>
    <li class="sidebar-nav-list__item">
      <button class="nav-list__button">
        <svg class="nav-list-icon" icon="chat"></svg>
        <span> Чаты </span>
      </button>
    </li>
    <li class="sidebar-nav-list__item">
      <button class="nav-list__button">
        <svg class="nav-list-icon" icon="search"></svg>
        <span> Поиск </span>
      </button>
    </li>
  </ul>
</nav>
<div class="subscribers-block">
  <h5 class="subscribers-block__title">Подписчики</h5>
  @for(profile of subscribers$ | async; track profile.username ) {
  <app-subscriber-card [profile]="profile"></app-subscriber-card>
  }
</div>
<div class="avatar-wrapper">
  @if(me(); as me) { @if(me.avatarUrl) {
  <img class="avatar" [src]="me.avatarUrl | imgUrl" alt="" />
  } @else {
  <img class="avatar" src="/assets/images/avatar.png" alt="" />
  }
  <p>{{ me.username }}</p>
  }
</div>
