<div class="login-form-wrapper">
  <form action="" class="login-form">
    <h1 class="h1 login-form__title">Вход</h1>
    <div class="form-fields-wrapper">
      <div class="form-field">
        <label class="form-field__label" for="login">Логин</label>
        <input
          class="form-field__input"
          type="text"
          id="login"
          placeholder="Введите логин"
        />
      </div>
      <div class="form-field">
        <label class="form-field__label" for="password">Пароль</label>
        <input
          class="form-field__input"
          type="password"
          id="password"
          placeholder="Введите пароль"
        />
      </div>
    </div>
    <button class="btn submit-btn" type="submit">Войти</button>
  </form>
  <img src="/assets/svg/login.svg" alt="Logo" />
</div>
