@import url("../public/assets/css/reset.scss");
@import url("../public/assets/css/normalize.scss");

:root {
  --dark-color: #000;
  --light-color: #fff;
}

body {
  background-color: var(--dark-color);
  color: var(--light-color);
}
