@import url("../public/assets/css/normalize.scss");
@import url("../public/assets/css/reset.scss");
@import url("../public/assets/css/fonts.scss");
@import url("../public/assets/css/variables.scss");

* {
  box-sizing: border-box;
}

body {
  color: var(--light-color);
  font-family: "JetBrains Mono";
  font-weight: 500;
  background: url(/assets/images/img-bg.png);
}

.btn {
  padding: 10px 20px;
  border: none;
  background-color: var(--primary-color);
  color: var(--dark-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 117%;
}
